<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After Lesson Classes</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="lessonData.js"></script>
</head>
<body>
    <div id="app">

        <main class="container">
            <!--Looping across the Avaliable Lesson-->

            <section
              class="paragraph"
              v-for="item in sortedJson"
              :key="item.id"
            >
              <p class="subject">Subject: {{ item.subject }}</p>
              <p class="location">Location: {{ item.location }}</p>
              <p class="price">Price: €{{ item.price }}</p>
              <p class="space">Spaces: {{ item.space }}</p>
              <img class="image" :src="item.imgURL" alt="" />
              <button
                class="add"
                v-on:click="addToCart($event, item.id)"
                v-if="item.space > 0"
              >
                Add to Cart
              </button>
              <!--Disable button when no space left-->
              <button class="add" disabled="disabled" v-else>
                Add to Cart
              </button>
            </section>
          </main>

    </div>
    
    <script type="module">
        //Importing  the Json file
        //  lesson from "./lessonData.js"
        const { createApp } = Vue;
  
        createApp({
            data() {
                return {
            cart: [],
            showProductPage: true,
            data: lesson,
            // arrange  : "ascending",
            ascending: String('true'),
            sortBy: 'subject',
            search: '',
            name: '',
            number: '',
          };
  }
})
    </script>
</body>
</html>